@model MyMoney.Web.ViewModels.Deposits.OutputViewModels.DepositInfoViewModel;
@{
    this.ViewData["Title"] = "Депозит детайли";
    var inputField = "";
}

@if (Model.DepositCalculationViewModel == null)
{
    <h2 class="text-center mb-2">@Model.DepositDetailsViewModel.Name</h2>

    <hr />

    <h3 class="text-center">Детайли</h3>

    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="row">#</th>
                        <th scope="row"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">Банка</th>
                        <td><a href="#" class="link-dark">@Model.DepositDetailsViewModel.BankName</a></td>
                    </tr>
                    <tr>
                        <th scope="col">Ефективна Годишна Лихва</th>
                        <td>@Model.DepositDetailsViewModel.EffectiveAnnualInterestRate%</td>
                    </tr>
                    <tr>
                        <th scope="col">Размер на депозита</th>
                        <td>@Model.DepositDetailsViewModel.Amount</td>
                    </tr>
                    <tr>
                        <th scope="col">Вид на депозита</th>
                        <td>@Model.DepositDetailsViewModel.TypeOfDepositName</td>
                    </tr>
                    <tr>
                        <th scope="col">Вид лихва</th>
                        <td>@Model.DepositDetailsViewModel.TypeOfInterestName</td>
                    </tr>
                    <tr>
                        <th scope="col">Изплащане на лихви</th>
                        <td>@Model.DepositDetailsViewModel.TypeOfPaymentOfInterestName</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="border-right">

        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="row">#</th>
                        <th scope="row"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">Валута</th>
                        <td>@Model.DepositDetailsViewModel.Currency.ToString()</td>
                    </tr>
                    <tr>
                        <th scope="col">Срок на депозита</th>
                        <td>@Model.DepositDetailsViewModel.TermOfTheDeposit месеца</td>
                    </tr>
                    <tr>
                        <th scope="col">За кого е депозита</th>
                        <td>@Model.DepositDetailsViewModel.WhoIsDepositForName</td>
                    </tr>
                    <tr>
                        <th scope="col">Довнасяне на суми</th>
                        <td>@Model.DepositDetailsViewModel.AdditionOfAmountsName</td>
                    </tr>
                    <tr>
                        <th scope="col">Възможност за овърдрафт</th>
                        <td>@Model.DepositDetailsViewModel.OverdraftPossibilityName</td>
                    </tr>
                    <tr>
                        <th scope="col">Възможност на кредит</th>
                        <td>@Model.DepositDetailsViewModel.OpportunityForCreditName</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr />

    <div>
        <form asp-controller="Deposits"
              asp-action="Details"
              asp-route-id="@Model.DepositDetailsViewModel.Id"
              asp-route-calculate="true"
              class="ml-auto p-2  text-center">
            <button type="submit" class="btn btn-outline-success">ИЗЧИСЛИ</button>
        </form>
    </div>

    <hr />

    <p class="mt-2 font-weight-light">Код на депозита: @Model.DepositDetailsViewModel.Id</p>

    <hr />
}
else
{
    <h2 class="text-center mb-2">@Model.DepositCalculationViewModel.Name</h2>

    <hr />

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="text-center">Цена след края</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="row">#</th>
                            <th scope="row"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">Минимална Сума</th>
                            <td>@Model.DepositCalculationViewModel.Amount</td>
                        </tr>
                        <tr>
                            <th scope="col">Цена след края на минималния депозит</th>
                            <td>@Model.DepositCalculationViewModel.FinalAmount</td>
                        </tr>
                        <tr>
                            <th scope="col">Ефективна Годишна Лихва</th>
                            <td>@Model.DepositCalculationViewModel.EffectiveAnnualInterestRate</td>
                        </tr>
                        <tr>
                            <th scope="col">Месеци</th>
                            <td>@Model.DepositCalculationViewModel.TermOfTheDeposit</td>
                        </tr>
                        <tr>
                            <th scope="col">Валута</th>
                            <td>@Model.DepositCalculationViewModel.TypeOfCurrency</td>
                        </tr>
                        @if(@Model.DepositCalculationViewModel.RequestedAmount != 0)
                        {
                        <tr>
                            <th scope="col">Желана Сума</th>
                            <td>@Model.DepositCalculationViewModel.InitialRequestedAmount</td>
                        </tr>
                        <tr>
                            <th scope="col">Цена след края на желания депозит</th>
                            <td>@Model.DepositCalculationViewModel.RequestedAmount</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <br />

    
    <div class="text-center d-flex justify-content-center row">
        <form asp-controller="Deposits"
              asp-action="Details"
              asp-route-calculate="true"
              asp-route-initialAmount="@inputField"
              class="p-2 text-center form-inline">
            <input class="form-control mx-auto m-2"
                   name="initialAmount"
                   style="max-width:130px"
                   type="number" 
                   min=@((double)Model.DepositCalculationViewModel.Amount)
                   max="1000000"
                   defaultValue="@((double)Model.DepositCalculationViewModel.Amount)"
                   placeholder="@((double)Model.DepositCalculationViewModel.Amount)"/>
            <div class="m-1"></div>
            <button type="submit" class="btn btn-primary mx-auto m-2">ИЗЧИСЛИ НОВА СУМА</button>
        </form>
    </div>

    <div class="text-center">
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target=".bd-example-modal-lg">РАЗПЛАЩАТЕЛЕН ПЛАН</button>
    </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Месец</th>
                            <th scope="col">Депозирана сума (в началото на мес.)</th>
                            <th scope="col">Лихва</th>
                            <th scope="col">Данък в/у лихвата (8%)</th>
                            <th scope="col">Нето изплатени (в края на мес.)</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (var curr = 0; curr < Model.DepositCalculationViewModel.TermOfTheDeposit; curr++)
                        {
                            <tr>
                                <th scope="row">@(curr+1)</th>
                                <td>@Model.DepositCalculationViewModel.Collections.MonthlyStartingAmount.ElementAt(curr) </td>
                                <td>@Model.DepositCalculationViewModel.Collections.MonthlyInterestAmount.ElementAt(curr)</td>
                                <td>@Model.DepositCalculationViewModel.Collections.MonthlyInterestTaxes.ElementAt(curr)</td>
                                <td>@Model.DepositCalculationViewModel.Collections.MonthlyNetPaid.ElementAt(curr)</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
