@model MyMoney.Web.ViewModels.Deposits.OutputViewModels.DepositInfoViewModel;
@{
    this.ViewData["Title"] = "Депозит детайли";
}

<h2 class="text-center mb-2">@Model.DepositDetailsViewModel.Name</h2>

<hr />

<div class="d-flex justify-content-between">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="row">#</th>
                    <th scope="row"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">Банка</th>
                    <td><a href="#" class="link-dark">@Model.DepositDetailsViewModel.BankName</a></td>
                </tr>
                <tr>
                    <th scope="col">Ефективна Годишна Лихва</th>
                    <td>@Model.DepositDetailsViewModel.EffectiveAnnualInterestRate%</td>
                </tr>
                <tr>
                    <th scope="col">Размер на депозита</th>
                    <td>@Model.DepositDetailsViewModel.Amount</td>
                </tr>
                <tr>
                    <th scope="col">Вид на депозита</th>
                    <td>@Model.DepositDetailsViewModel.TypeOfDepositName</td>
                </tr>
                <tr>
                    <th scope="col">Вид лихва</th>
                    <td>@Model.DepositDetailsViewModel.TypeOfInterestName</td>
                </tr>
                <tr>
                    <th scope="col">Изплащане на лихви</th>
                    <td>@Model.DepositDetailsViewModel.TypeOfPaymentOfInterestName</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="border-right">

    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="row">#</th>
                    <th scope="row"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">Валута</th>
                    <td>@Model.DepositDetailsViewModel.Currency.ToString()</td>
                </tr>
                <tr>
                    <th scope="col">Срок на депозита</th>
                    <td>@Model.DepositDetailsViewModel.TermOfTheDeposit месеца</td>
                </tr>
                <tr>
                    <th scope="col">За кого е депозита</th>
                    <td>@Model.DepositDetailsViewModel.WhoIsDepositForName</td>
                </tr>
                <tr>
                    <th scope="col">Довнасяне на суми</th>
                    <td>@Model.DepositDetailsViewModel.AdditionOfAmountsName</td>
                </tr>
                <tr>
                    <th scope="col">Възможност за овърдрафт</th>
                    <td>@Model.DepositDetailsViewModel.OverdraftPossibilityName</td>
                </tr>
                <tr>
                    <th scope="col">Възможност на кредит</th>
                    <td>@Model.DepositDetailsViewModel.OpportunityForCreditName</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr />

<p class="mt-2 font-weight-light">Код на депозита: @Model.DepositDetailsViewModel.Id</p>

<hr />

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3 class="text-center">Цена след края</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="row">#</th>
                        <th scope="row"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">Сума</th>
                        <td>@Model.DepositCalculationViewModel.Amount</td>
                    </tr>
                    <tr>
                        <th scope="col">Ефективна Годишна Лихва</th>
                        <td>@Model.DepositCalculationViewModel.EffectiveAnnualInterestRate%</td>
                    </tr>
                    <tr>
                        <th scope="col">Месеци</th>
                        <td>@Model.DepositCalculationViewModel.TermOfTheDeposit</td>
                    </tr>
                    <tr>
                        <th scope="col">Цена след края на депозита</th>
                        <td>@Model.DepositCalculationViewModel.FinalAmount</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
