@model MyMoney.Web.ViewModels.Administration.Deposits.InputModels.CreateDepositInputModel
@using MyMoney.Data.Models.Enums
@{
    ViewData["Title"] = "Нов депозит";
    var banks = Model.Banks.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var typeOfDeposits = Model.TypeOfDeposits.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var typeOfPaymentOfInterests = Model.TypeOfPaymentOfInterests.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var whoIsDepositFor = Model.WhoIsDepositFor.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var typeOfInterests = Model.TypeOfInterests.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var additionOfAmounts = Model.AdditionOfAmounts.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var overdraftPossibilities = Model.OverdraftPossibilities.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var opportunityForCredit = Model.OpportunityForCredit.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<h2 class="text-center">Създаване на нова оферта за депозит</h2>
<hr />



<form method="post" asp-action="Create">
    <div class="form-row">
        <div class="form-group col">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.TypeOfDepositId"></label>
            </div>
            <select asp-for="@Model.TypeOfDepositId" asp-items="typeOfDeposits" class="form-control">
                <option selected="selected" value="">Моля изберете</option>
            </select>
            <span asp-validation-for="@Model.TypeOfDepositId" class="text-danger"></span>
        </div>

        <div class="form-group col">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.Name"></label>
            </div>
            <input asp-for="@Model.Name" class="form-control" placeholder="Име..." />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>

        <div class="form-group col">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.Amount"></label>
            </div>
            <input asp-for="@Model.Amount" class="form-control" type="number" step="any" placeholder="Сума..." />
            <span asp-validation-for="@Model.Amount" class="text-danger"></span>
        </div>

    </div>

    <hr />

    <div class="form-row">
        <div class="col">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.Currency"></label>
            </div>
            <select asp-for="@Model.Currency" asp-items="Html.GetEnumSelectList<TypeOfCurrency>()" class="form-control">
                <option selected="selected" value="">Моля изберете</option>
            </select>
            <span asp-validation-for="@Model.Currency" class="text-danger"></span>
        </div>

        <div class="col">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.EffectiveAnnualInterestRate"></label>
            </div>
            <input asp-for="@Model.EffectiveAnnualInterestRate" class="form-control" type="number" placeholder="ЕГЛ..." />
            <span asp-validation-for="@Model.EffectiveAnnualInterestRate" class="text-danger"></span>
        </div>

        <div class="col">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.TermOfTheDeposit"></label>
            </div>
            <input asp-for="@Model.TermOfTheDeposit" class="form-control" type="number" placeholder="Месеци..." />
            <span asp-validation-for="@Model.TermOfTheDeposit" class="text-danger"></span>
        </div>

    </div>

    <hr />

    <div class="form-row">
        <div class="col">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.TypeOfPaymentOfInterestId"></label>
            </div>
            <select asp-for="@Model.TypeOfPaymentOfInterestId" asp-items="typeOfPaymentOfInterests" class="form-control">
                <option selected="selected" value="">Моля изберете</option>
            </select>
            <span asp-validation-for="@Model.TypeOfPaymentOfInterestId" class="text-danger"></span>
        </div>

        <div class="col">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.WhoIsDepositForId"></label>
            </div>
            <select asp-for="@Model.WhoIsDepositForId" asp-items="whoIsDepositFor" class="form-control">
                <option selected="selected" value="">Моля изберете</option>
            </select>
            <span asp-validation-for="@Model.WhoIsDepositForId" class="text-danger"></span>
        </div>

        <div class="col">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.TypeOfInterestId"></label>
            </div>
            <select asp-for="@Model.TypeOfInterestId" asp-items="typeOfInterests" class="form-control">
                <option selected="selected" value="">Моля изберете</option>
            </select>
            <span asp-validation-for="@Model.TypeOfInterestId" class="text-danger"></span>
        </div>

    </div>

    <hr />

    <div class="form-row">
        <div class="col">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.AdditionOfAmountsId"></label>
            </div>
            <select asp-for="@Model.AdditionOfAmountsId" asp-items="additionOfAmounts" class="form-control">
                <option selected="selected" value="">Моля изберете</option>
            </select>
            <span asp-validation-for="@Model.AdditionOfAmountsId" class="text-danger"></span>
        </div>

        <div class="col">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.OverdraftPossibilityId"></label>
            </div>
            <select asp-for="@Model.OverdraftPossibilityId" asp-items="overdraftPossibilities" class="form-control">
                <option selected="selected" value="">Моля изберете</option>
            </select>
            <span asp-validation-for="@Model.OverdraftPossibilityId" class="text-danger"></span>
        </div>

        <div class="col">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.OpportunityForCreditId"></label>
            </div>
            <select asp-for="@Model.OpportunityForCreditId" asp-items="opportunityForCredit" class="form-control">
                <option selected="selected" value="">Моля изберете</option>
            </select>
            <span asp-validation-for="@Model.OpportunityForCreditId" class="text-danger"></span>
        </div>

    </div>

    <hr />

    <div class="form-row">

        <div class="col">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.BankId"></label>
            </div>
            <select asp-for="@Model.BankId" asp-items="banks" class="form-control">
                <option selected="selected" value="">Моля изберете</option>
            </select>
            <span asp-validation-for="@Model.BankId" class="text-danger"></span>
        </div>

    </div>
    <hr />
    <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-primary" />
    </div>
</form>
